<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:fragment="site-head">
        <meta charset="UTF-8" />
        <script th:src="|https://code.jquery.com/jquery-1.12.4.min.js|"></script>
        <meta th:include="this :: head" th:remove="tag"/>
        <title>Layout</title>
    </head>
    <body>
    <!-- th:hef calls a controller method - which returns the view -->
    <header th:fragment="site-header">
        <a href="index.html" th:href="@{/}"></a>
        <a href="#" style="color: white" th:href="@{/}">Home</a>
        <a href="#" style="color: white" th:href="@{/video}">Upload Videos</a>
        <a href="#"  style="color: white" th:href="@{/process}">Analyze Videos</a>

    </header>
    <h1>Welcome</h1>
    <p>Welcome to  AWS Video Analyzer.</p>
    </body>
</html>